* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Microsoft YaHei";
}

img,
input,
textarea,
button {
    outline: none;
    border: none;
}

li {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}