@import './../../../less/config.less';

.home_Page {
  .module_box{
    margin-top: 50px;
  }
  /*******************************   banner   start   *******************************/
  /***** banner *****/
  .banner {
    height: 540px;
    position: relative;
    background-image: url(/static/images/banner/3.jpg);
    background-position: center;
    background-size: cover;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(29, 23, 36, 0.5);
    }
  }

  /***** nav *****/
  .nav_bar {
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 1;
    color: @whiteColor;
    li {
      cursor: pointer;
      line-height: 29px;
      padding: 0 15px 5px;
      display: inline-block;
      border-bottom: 3px solid transparent;
      &:hover {
        border-color: @greenColor;
      }
    }
  }

  /***** 开启新的旅途 *****/
  .activity_btn {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -107.5px;
    top: 60%;
  }

  /*******************************   banner   end   *******************************/
  /*******************************   img_list   start   *******************************/
  .img_list {
    .header {
      text-align: center;
    }
    .box_title {
      font-size: 19px;
      color: #71717c;
      font-weight: 600;
      a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        &:hover {
          color: @greenColor;
        }
        &:after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 75%;
          height: 2px;
          background-color: #6bb551;
        }
      }
    }
    .desc {
      margin-top: @contentDistance;
    }

    /***** list *****/
    .list {
      margin-top: 1%;
      text-decoration: none;
      list-style-type: none;
      &>li {
        float: left;
        width: 32%;
        text-align: center;
        padding-top: 31%;
        margin-left: 1%;
        margin-top: 1%;
        max-width: 300px;
        position: relative;
        cursor: pointer;
        background-size: cover;
        &:hover{
          .bd_layer{
            display: block;
          }
        }
        .bd_layer {
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    @media screen and (min-width: 771px) {
      .list {
        display: flex;
        justify-content: space-around;
        &>li{
          padding-top: 16%;
          &:last-child{
            margin-right: 1%;
          }
        }
      }
    }
    @media screen and (min-width: 1515px) {
      .list {
        margin-top: 15px;
      }
    }
  }
  /*******************************   img_list   end   *******************************/
}

// @media screen and (min-width: 771px) and (max-width: 400px) {}
